body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.left-side{
    font-size: 20px;
}
.left-side p{
    font-size: 25px;
}
.left-side-1{
    width: 100%;
    margin-top: 15%;
}
.left-side-1-head{
    width: 80%;
    font-size: 40px;
    border-left: 4px solid red;
    font-family: 'Merriweather', serif;
    padding-left: 15px;
}
.photo img{
    width: 600px;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255,75,58);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.second-section{
    text-align: center;
    margin-top: 100px;
}
.second-section h1{
    font-size: 60px;
}
.mission{
    width: 500px;
    height: auto;
    border-radius: 40px;
    background-color: rgb(200, 235, 247);
}
.vission{
    width: 500px;
    height: auto;
    border-radius: 40px;
    background-color: rgb(255, 212, 212);
}
.goals{
    width: 500px;
    height: auto;
    border-radius: 40px;
    background-color: rgb(245, 245, 206);
}
.div-img img{
    width: 50%;
}
.all-mission{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.all-mission h1{
    font-size: 40px;
}
.color{
    color: rgb(255,197,1);
}
.third-section{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-top: 200px;
}
.third-sec-parent{
    display: flex;
    width: 80%;
    margin-bottom: 100px;
    margin-left: 10%;
}
.div-picture img{
    width: 80%;
} 
.right-side-text{
    margin-top: 100px;
}
.link-button-div{
    margin-top: 40px;
}
.section-four{
    margin-bottom: 100px;

}
.section-four-parent{
    display: flex;
    padding-left: 10px;
    width: 80%;
    height: 600px;
    margin: auto;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 20%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
.iamge-div img{
    width: 80%;
}
.text-div h1{
    font-size: 40px;
}
.text-div p{
    font-size: 20px;
}
